

body {
    background-color: rgb(224, 239, 255);
}

.pg-pips a {
    background: rgb(0, 122, 255) !important;
}

.pg-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pg-page p {
    color: rgb(0, 122, 255);
    padding: 0 calc(10% + 20px) 0 10%;
    font-size: 32px;
    /*line-height: 30px;*/
}

.pg-page h1 {
    color: rgb(0, 122, 255);
    padding: 0 calc(10% + 20px) 0 10%;
    font-size: 36px;
}

#page-8 img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
}

#page-8 p {
    font-size: 12px;
}

#logo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 20%;
}

#head-logo-about {
    width: auto;
    height: auto;
    max-width: 40%;
    max-height: 50%;
    margin-right: 10%;
}

#head-logo {
    width: auto;
    height: auto;
    max-width: 10%;
    max-height: 50%;
}

